@import '~@cbim/design-system-variable/index.scss';

$primary-color: var(--primary-color);
$info-color: var(--info-color);
$success-color: var(--success-color);
$processing-color: var(--processing-color);
$error-color: var(--error-color);
$highlight-color: var(--highlight-color);
$warning-color: var(--warning-color);
$default-color: var(--default-color);
$normal-color: #d9d9d9;
$white: #fff;
$black: #000;